@media (max-width: 1247px) {
  .rmq-d81419b8 {
    display: flex !important;
    flex: 0 1 auto !important;
    justify-content: center !important;
  }
}

@media (max-width: 1247px) {
  .rmq-d459ecd9 {
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 1247px) {
  .rmq-ff7440a3 {
    margin: 0 !important;
  }
}

@media (max-width: 1247px) {
  .rmq-e181a8bb {
    font-size: 14px !important;
    position: static !important;
    justify-content: center !important;
  }
}

@media (min-width: 1248px) and (max-width: 1455px) {
  .rmq-db5b060a {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}

@media (min-width: 1248px) and (max-width: 1455px) {
  .rmq-ffabcfb8 {
    max-width: 256px !important;
  }
}

@media (max-width: 1247px) {
  .rmq-9a0027dd {
    justify-content: flex-start !important;
  }
}

@media (min-width: 1040px) and (max-width: 1456px) {
  .rmq-92b56ba3 {
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 1247px) {
  .rmq-af92007f {
    position: absolute !important;
    right: 0 !important;
  }
}

@media (min-width: 1040px) and (max-width: 1456px) {
  .rmq-5bc9a29c {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

@media (max-width: 1455px) {
  .rmq-dfbe2be {
    font-size: 14px !important;
    position: static !important;
    justify-content: center !important;
  }
}

@media (max-width: 831px) {
  .rmq-de706fdf {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}

@media (min-width: 0px) and (max-width: 832px) {
  .rmq-72b47692 {
    max-width: 110 !important;
  }
}

@media (min-width: 768px) {
  .rmq-8b145389 {
    top: 55px !important;
  }
}

@keyframes radium-animation-86ec5bee {
  from {
    transform: translateY(50vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .rmq-2c87bfe9 {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 831px) {
  .rmq-136ec809 {
    width: 624px !important;
  }
}

@media (min-width: 832px) and (max-width: 1039px) {
  .rmq-816a7dd1 {
    width: 832px !important;
  }
}

@media (min-width: 1040px) and (max-width: 1247px) {
  .rmq-b3aaa63a {
    width: 1040px !important;
  }
}

@media (min-width: 1248px) and (max-width: 1455px) {
  .rmq-2e8763ff {
    width: 1248px !important;
  }
}

@media (min-width: 1456px) {
  .rmq-7dcad03d {
    width: 1456px !important;
  }
}

@media (max-width: 767px) {
  .rmq-e9fd10a8 {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 831px) {
  .rmq-94de0125 {
    display: grid !important;
    grid-template-columns: repeat(6, 104px) !important;
  }
}

@media (min-width: 832px) and (max-width: 1039px) {
  .rmq-eeb4761a {
    display: grid !important;
    grid-template-columns: repeat(8, 104px) !important;
  }
}

@media (min-width: 1040px) and (max-width: 1247px) {
  .rmq-3e10bf34 {
    display: grid !important;
    grid-template-columns: repeat(10, 104px) !important;
  }
}

@media (min-width: 1248px) and (max-width: 1455px) {
  .rmq-2295bbb9 {
    display: grid !important;
    grid-template-columns: repeat(12, 104px) !important;
  }
}

@media (min-width: 1456px) {
  .rmq-108b114 {
    display: grid !important;
    grid-template-columns: repeat(14, 104px) !important;
  }
}

@media (min-width: 768px) {
  .rmq-ffadb03c {
    align-items: center !important;
    height: 55px !important;
  }
}

@media (max-width: 767px) {
  .rmq-86113729 {
    align-items: stretch !important;
    flex-direction: column-reverse !important;
    justify-content: flex-end !important;
  }
}

@media (max-width: 767px) {
  .rmq-bcf1733c {
    top: 0 !important;
    right: 0 !important;
  }
}

@media (min-width: 768px) {
  .rmq-879326ba {
    display: none !important;
  }
}

@keyframes loading-radium-animation-2dabe53b {
  0% {
    background-color: #eeeeee;
  }

  50% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #eeeeee;
  }
}

@media (min-width: 768px) {
  .rmq-6bd75284 {
    margin-left: 40px !important;
    flex: 1 !important;
  }
}

@media (max-width: 767px) {
  .rmq-f16a4f93 {
    width: 100% !important;
    height: 50px !important;
    margin-top: 0 !important;
  }
}

@media (max-width: 767px) {
  .rmq-bcc83e2d {
    flex: 1 !important;
    align-items: flex-start !important;
  }
}

@media (min-width: 832px) and (max-width: 1039px) {
  .rmq-cb9cc2fa {
    flex: 0 0 33.33% !important;
  }
}

@media (min-width: 768px) and (max-width: 831px) {
  .rmq-b5beda40 {
    flex: 0 0 50% !important;
  }
}

@media (max-width: 767px) {
  .rmq-92e48e80 {
    flex: 0 0 100% !important;
    flex-direction: row !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    align-items: flex-start !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #eeeeee !important;
    text-align: left !important;
  }
}

@media (max-width: 767px) {
  .rmq-304a4ff {
    margin-top: 4px !important;
  }
}

@media (max-width: 767px) {
  .rmq-d40189e {
    width: 65px !important;
    height: 65px !important;
    margin-bottom: 0 !important;
    margin-right: 16px !important;
  }
}

@media (max-width: 767px) {
  .rmq-d9beaa7b {
    margin-bottom: 2px !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

@media (max-width: 767px) {
  .rmq-e3a3b48b {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {
  .rmq-d442dd64 {
    height: 160px !important;
    background: white !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) !important;
  }
}

@media (min-width: 768px) {
  .rmq-4668fa84 {
    background: white !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) !important;
  }
}

@media (max-width: 767px) {
  .rmq-df6c247b {
    height: 160px !important;
  }
}

@media (min-width: 768px) {
  .rmq-1f08a1d0 {
    width: 150px !important;
  }
}

@media (max-width: 767px) {
  .rmq-4518a97d {
    flex: 1 !important;
  }
}

@media (min-width: 768px) {
  .rmq-6f340f {
    position: absolute !important;
    top: 8px !important;
    right: 8px !important;
  }
}

@media (max-width: 767px) {
  .rmq-15bed001 {
    height: 16px !important;
    line-height: 14px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    font-size: 11px !important;
    margin-top: 8px !important;
    margin-left: 0 !important;
    margin-right: 4px !important;
  }
}

@media (max-width: 767px) {
  .rmq-f60c2d70 {
    height: 16px !important;
    line-height: 16px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    font-size: 11px !important;
  }
}

@keyframes radium-animation-6fdf1ace {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(50vh);
    opacity: 0;
  }
}
